.container
  display flex
  justify-content center

.calc_container
  display flex
  flex-direction column
  width 25rem
  justify-content center
  align-items center
  background-color RoyalBlue
  margin-top 5rem
  padding 1rem
  box-shadow: 15px 15px 10px #888888;
  border-radius 10px

.calcScreen
  margin-bottom 2rem
  margin-top 1rem
  height 4rem
  display flex
  justify-content flex-end
  align-items center
  border 1px gray solid
  height 3rem
  padding 1rem
  font-size 3rem
  width 21rem
  background-color white
  color DimGray



.button_container
  display flex
  flex-direction row
  justify-content center
  width 29rem

.butcol
  display flex
  flex-direction column

.column2, .column3, .column4
  margin-left 1rem

.keypad
  width 5rem
  height 5rem
  margin-bottom 1rem
  font-size 2rem
  color DimGray

.keypad_button_plus
  width 5rem
  height 11rem
  margin-bottom 1rem
